@import url("https //fonts.googleapis.com/css family=raleway");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* GENERAL */
.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.content {
  padding: 50px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
  padding: 30px;
}

/* RELLOTGE */
#hora {
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #d94f5c;
}

/* NAVBAR */
nav {
  background-color: #2b303a;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  list-style: none;
  padding-top: 15px;
}

nav ul li {
  width: 150px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}

nav ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  animation: line 1s;
}

nav ul li:hover a {
  color: #d94f5c;
}

menu li:not(:last-child) {
  margin-right: 30px;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

/* INICIO */
#inicio {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  height: 695px;
}

h1 {
  margin-top: 350px;
  font-size: 100px;
  font-weight: bolder;
  color: #d94f5c;
  letter-spacing: -5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#subtitulo {
  font-size: 40px;
  font-weight: lighter;
  color: white;
}

/* CONOCIMIENTOS*/
.item {
  text-align: center;
  width: 185px;
  margin: 15px;
}

.item img {
  height: 130px;
}

/* PORTAFOLIO */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;

  text-align: center;
  padding: 50px;
  width: 250px;
  margin: 15px;
}

.card img {
  height: 60px;
  max-width: 100%;
}

.card:hover {
  box-shadow: inset 0 100px 1000px 10px #fff;
  background-color: whitesmoke;
  opacity: 50%;
}

/* SERVICIOS */

/* CONTACTO */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #d94f5c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FF5B6B;
}

.container {
  margin-top: 50px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
}

/* FOOTER STYLE */
footer {
  background-color: #2b303a;
  color: white;
  padding: 50px 100px 20px;
}

footer hr {
  margin-top: 10px;
}

#social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#social ul li {
  width: 50px;
  height: 50px;
  text-align: center;
}

#social ul li a {
  font-size: 20px;
  color: white;
}

#social ul li:hover a {
  color: #d94f5c;
}

#copyright {
  padding: 20px 0px;
}

#link {
  text-decoration: none;
  color: white;
}







/* .flex-container {
  display: flex;
  flex-direction: row;
    font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
} */

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  /* .flex-container {
    flex-direction: column;
  } */
}
